<mat-spinner *ngIf="isLoding"></mat-spinner>
<div class="text-center mt-5">
  <h1>로그인</h1>
  <form
    class="form-signin"
    #loginForm="ngForm"
    (ngSubmit)="onNgSubmit(loginForm)"
    novalidate
  >
    <label for="email" class="sr-only">email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="email"
      required
      email
      ngModel
      #email="ngModel"
    />
    <mat-error *ngIf="email.invalid && email.touched"
      >Please enter a valid email.</mat-error
    >

    <label for="password" class="sr-only">password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="password"
      pattern="(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{6,16}"
      required
      ngModel
      #password="ngModel"
    />
    <mat-error *ngIf="password.invalid && password.touched"
      >Please enter a valid password.</mat-error
    >

    <button
      class="btn btn-lg btn-block mt-5"
      type="submit"
      [disabled]="loginForm.invalid"
      [class.disabled]="loginForm.invalid"
    >
      Sign in
    </button>
  </form>
  <a routerLink="/help"><small style="color: gray">Forgot Password</small></a>
</div>
