<div class="container mt-3">
  <div class="row newly-post">
    <div class="col-12 newly-post-title">
      <h4>{{ catergory[0].name }} 새 게시글</h4>
    </div>
    <div class="col-11 newly-post-content" *ngFor="let post of posts">
      <div class="post-cotent">
        <!--왼쪽(좋아요)-->
        <div class="post-left">
          <button (click)="increase(post?.post_no)">
            <svg
              aria-hidden="true"
              class="svg-icon m0 iconArrowUpLg"
              width="36"
              height="36"
              viewBox="0 0 36 36"
            >
              <path d="M2 26h32L18 10 2 26z" [attr.fill]="voteUpColor"></path>
            </svg>
          </button>
          <div class="votes">{{ post?.likes }}</div>
          <button (click)="decrease(post?.post_no)">
            <svg
              aria-hidden="true"
              class="svg-icon m0 iconArrowDownLg"
              width="36"
              height="36"
              viewBox="0 0 36 36"
            >
              <path d="M2 10h32L18 26 2 10z" [attr.fill]="voteDownColor"></path>
            </svg>
          </button>
        </div>

        <!--중앙( 제목 / 내용/ 작성자 )-->
        <div class="post-center">
          <div class="title">
            <a
              [routerLink]="['/catergory', catergory[0].fileNav, post?.post_no]"
              >{{ post.title }}</a
            >
          </div>
          <div class="content" [innerHTML]="post?.curtContent"></div>
          <div class="writer">
            <img [src]="post?.avatar" class="avatar" />
            {{ post?.writer }}
            <small class="text-muted">{{
              post?.post_date | date: "yyyy-MM-dd hh:mm a":"UTC"
            }}</small>
          </div>
        </div>

        <!--오른쪽(대표이미지)-->
        <div class="post-right">
          <img [src]="post?.img_path" *ngIf="post?.img_path ? true : false" />
        </div>
      </div>
    </div>
    <div class="col-11 newly-post-content finish" *ngIf="isFinish">Finish</div>
    <mat-spinner *ngIf="isLoding"></mat-spinner>
  </div>
</div>
